{
  "printWidth": 150,
  "tabWidth": 2,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "insertPragma": false,
  "semi": true
}
